doctype html
html
    head
        meta(charset="utf-8")
        title PROALU
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="style/style.css")
        //- link(rel="stylesheet" href="style/normalize.css")
        link(rel="stylesheet" href="style/reset.css")
    body
        header
            nav
                a(href="#")#nav-logo
                    img(src="img/logo.png", alt="Logo Pro Alu",width="207", height="32")
                div#nav-links
                    ul
                        li 
                            a(href="#") Produkty
                        li 
                            a(href="#") Konfigurátor
                        li 
                            a(href="#") Novinky
                        li 
                            a(href="#") O Společnosti
                        li 
                            a(href="#") Kontakt 
                    div#nav-language
                        
                        span cz
                            ul#lang
                                li 
                                    a(href="#") en
                                li 
                                    a(href="#") pla1aaa